.manyBooksContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singleBookContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  max-width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  box-shadow: 1px 1px 2px 1px #666;
}

.bookImage {
  margin: 0 0 15px 0;  
  border-radius: 0 10px 0 0;
  max-width: 100%;
}

.bookDetailsContainer {
  padding: 5px;
  margin: 0 0 0 0;
  list-style-position: inside;
  font-size: 11px;
  background-color: #e3e3e3;
}

.bookDetail {}

.bookButtonContainer {
  border-radius: 0 0 10px 0;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.text-right {
  border-radius: 0 0 10px 0;
  background-color: #e6e6e6;
}

.btn {
	font-variant: small-caps;
  font-family: Helvetica;
  font-size: 13px;
  padding: 0 6px;
  /*margin: 0 10px 5px 0;*/
  border: 1px solid #666;
}

.btn-right {
  border-radius: 5px 5px 10px 5px;
}

.btn-left {
  border-radius: 5px 5px 5px 0px;
}

.btn:hover {
  border: 1px solid #666;
}

.btn-default {
  background-color: #e3e3e3;
}

.btn-default:hover {
  background-color: #ccc;
}